.root {
    -fx-font-family: "Fira Code Light";
}

#topBar {
    -fx-background-color: "#6c5cb4";
}

#fileChooser {
    -fx-border-color: "#6c5cb4"; /* Border color (purple) */
    -fx-border-width: 0 0.5px 0 0; /* Top, right, bottom, left */
    -fx-border-style: solid; /* Solid border style */
}

/* Styling for custom buttons (min, max, close) */
#maxBtn {
    -fx-background-color: transparent;
    -fx-graphic: url("./images/maxBtn.png");
    -fx-content-display: center;
}

#minBtn {
    -fx-background-color: transparent;
    -fx-graphic: url("./images/minBtn.png");
    -fx-content-display: center;
}

#closeBtn {
    -fx-background-color: transparent;
    -fx-graphic: url("./images/closeBtn.png");
    -fx-content-display: center;
}